/*线形图区块*/
.chartsStyle{
    float: left;
    margin: 0vh 0vh 0% 0vh;
    height: 600px;
    width: 100%;
}
.graph_ranking_area .top{
    /* margin: 4.5% 0vh 0vh 3.8%;
    float: left;
    width: 95.5%;
    height: 50px; */
}
/*account数据区域*/
.account_data_area{
    width: 96%;
    min-height: 600px;
    background: white;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 0px solid #EBEEF5;
}
/*board数据区域*/
.board_data_area{
    margin-top: -300px;
    width: 100%;
    min-height: 600px;
    background: white;
    border-radius: 20px;
}
.board_data_area .text_css{
    font-weight: bold;
    color: black;
    max-width: 1280px;
    margin: 0px auto;
    background: #f6f6f6;
    border-radius: 20px;
}
.home_title_area{
    /* line-height: 50px;
    width: 215px;
    float: left;
    text-align: left; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home_title_area span{
    /* margin-left: 16px; */
    /* height: 30px; */
    font-weight: bold
}
.el-tabs__header .el-tabs__item {
    font-size: 16px!important;
    /* margin-left: 10px!important; */
    margin-top: 10px!important;
}
/*天数选择按钮区域*/
.day_button{
    display: flex;
    flex-direction: row;
    flex: 1;
    place-content: flex-end;
    padding-right: 10px;
}
.day_button button{
    /* width: 95px; */
    /* height: 46px; */
    border-radius: 0.8rem;
    border-color: #001594;
    color: #001594;
    margin-left: 0.2rem;
}
.day_button button:hover{
    color: white;
    background: #001594;
}
.day_button button:focus{
    color: white;
    background: #001594;
}
