.background_res{
    width: 100%;
    min-height: 1200px;
    background: transparent;
    position: relative;
    margin-top: -300px;
}
.total_data_area{
    /*由于固定位置，所以需要固定高度*/
    height: 350px;
    top: -10px;
    position: relative;
    border: 0px;
    margin-bottom: 50px;
}

.total_data{
    /* width: 100%; */
    min-height: 300px;
    background: white;
    border-radius: 20px;
    margin-top: -300px;
    box-shadow: 8px 8px 1px #93939317;
    
}
.total_data .line_space{
    text-align: center;
    min-height: 150px;
    line-height: 65px;
    margin: 30px 0px;
}

.word_large{
    font-weight: bold;
    font-size: 22px;
}
.word_small{
    color: #9e9e9e;
    font-size: 13px;
    font-weight: bold;
}
.data_icon{
    width: 15px;
    height: 15px;
    position: relative;
}
.first_data .data_icon{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
.second_area .data_icon{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: 3px;
    margin-left: calc(15.5% - 30px);
}

.content_address{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.content_address_icon{
    background: #D8D8D8;
    border-radius: 16px;
    font-style: normal;
    padding: 0px 10px;
    position: absolute;
    left: 50%;
    color: #999999;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    transform: translate(-50%,0%);
}
/*底部数据区域*/
.all_data_area_resource{
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    background: #f6f6f6;
    position: relative;
}
.all_data_area_resource .data{
    width: 98%;
    border: 0px;
    margin: 1.5% 1%;
}
.all_data_area_resource .head_area{
    line-height: 50px;
    width: 50%;
    float: left;
    margin-top: 26px;
    text-align: left;
}
.head_area_two{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/*饼图部分*/
.charts_show_div{
    min-height: 400px;
    padding: 20px 10px;
    background: white;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: 8px 8px 1px #93939317;
}
/*饼图下方数据列表*/
.pie_bottom_div{
    position: absolute;
    width: 90%;
    height: 14px;
    line-height: 14px;
    float: left
}
.pie_bottom_title{
    width: 25%;
    float: left;
    color: gray;
    font-size: 14px;
    padding-left: 10px;
}
.pie_bottom_data{
    width: 14px;
    height: 14px;
    border-radius: 4px;
    float: left;
}
.div_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title_text{
    line-height: 50px;
    height: 50px;
    font-weight: bold
}
.div_title{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
}
/*饼图区域外侧div*/
.pie_charts_out{
    width: 100%;
    min-height: 600px;
    margin-top: 100px;
}
/*条形图外侧div*/
.bar_charts_out{
    width: 100%;
    min-height: 600px;
    margin-top: 50px;
}
/*饼图/条形图区域*/
.charts_area{
    width: 100%;
    /* min-height: 650px; */
    background: white;
    border-radius: 20px;
    /* float: left; */
    position: relative;
}
.pie_left{
    margin: 0% 1% 41px 0%;
}
.pie_right{
    margin: 0% 0% 41px 1%;
}
.bar_left{
    margin: 0% 1% 80px 0%;
}
.bar_right{
    margin: 10px;
}
/*物块叠加显示级别 英文从低到高*/
.level_first{
    position: relative;
    z-index: 1
}
.level_second{
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
    /* z-index: 2; */
    margin-top: -25px;
}
.level_second img {
    width: 60px;
}

/*搜索框下方div*/
.little_div{
    top: 0px;
    width: 73%;
    height: 324px;
    margin: 0% 13.5%;
}
/*搜索框*/
.el-input__suffix-inner .search_button{
    font-size: 33px;
    font-weight: bold;
    cursor: pointer;
    line-height: 80px;
}
.bottom_search_squ{
    position: absolute;
    top: 23px;
    right: 17px;
    width: 36%;
    height: 60px;
}
.bottom_search_squ .el-input__inner{
    height: 60px;
    line-height: 60px;
    border: 0px;
    border-radius: 30px;
    background-color: #EEEEEE;
}
.bottom_search_squ .el-input__prefix, .el-input__suffix{
    color: #999999;
}
.search_button{
    width: 80px;
    text-align: center;
}


/*天数选择按钮区域*/
.resource_day_button{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.resource_button_div{
    /* width: 90px; */
    /* float: left */
}
.resource_button_div button{
    border-radius: 0.8rem;
    border-color: #001594;
    color: #001594;
    margin-left: 0.2rem;
}
.resource_day_button button:hover{
    color: white;
    background: #001594;
}
.resource_day_button button:focus{
    color: white;
    background: #001594;
}



#barChartLeft {
    height:550px;width:100%;margin-top: 80px;background-color: transparent;
}
#barChartRight {
    height:550px;width:100%;margin-top: 80px;background-color: transparent;
}
